body {
  background-color: powderblue;
}
h1 {
  color: blue;  /*Color de la Fuente  */
  font-family: courier;  /* Familia de la fuente */
  text-align: center;    /*Alineación del texto  */
  margin-left: 20px;     /*Margen izquierdo  */
  font-size: 300%;       /*Tamaño de la fuente */
  border: 2px solid red; /*Tamaño del borde del recuadro y color */
  padding: 30px;         /*Separación entre el recuadro y el título*/
}
p {
  color: red;
  text-align: center;
  font-family: verdana;
  font-size: 200%;
  margin: 5px;
}
#p01 {
  color: green; /*Solo cambia el colo de p */
}

p.error {
  color: red;
  border: 2px solid red;
        }
